@page "/add-claim-litigation-date/{ClaimID}/{LitigationDateID}"
@layout MainLayout
@inherits RecoCms6.Pages.AddClaimLitigationDateComponent

@using Radzen
@using Radzen.Blazor
@using RecoCms6.Models.RecoDb
@using Microsoft.AspNetCore.Identity;
@using RecoCms6.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@claimlitigationdate" TItem="RecoCms6.Models.RecoDb.ClaimLitigationDate" Visible="@(claimlitigationdate != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LitigationDateTypeID" style="width: 100%" Text="Litigation Date Type">
                </RadzenLabel>
              </div>
              <div class="col-md-6">
                <RadzenDropDown Data="@getLitigationDateTypeList" style="display: block" TextProperty="ParamDesc" @bind-Value="@(claimlitigationdate.LitigationDateTypeID)" ValueProperty="ParameterID" Name="LitigationDateTypeID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="LitigationDateTypeID" style="position: absolute" Text="Litigation Date Type is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LitigationDate" style="width: 100%" Text="Litigation Date">
                </RadzenLabel>
              </div>
              <div class="col-md-3">
                <RadzenDatePicker DateFormat="yyyy-MM-dd" style="display: block; width: 100%" @bind-Value="@(claimlitigationdate.LitigationDate)" Name="LitigationDate">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="LitigationDate" style="position: absolute" Text="Date is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Litigation Status">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getLitigationDateStatusList" TextProperty="ParamDesc" @bind-Value="@(claimlitigationdate.LitigationStatusID)" ValueProperty="ParameterID" Name="LitigationStatusID">
                </RadzenDropDown>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
