@page "/add-service-provider/{Role}"
@layout MainLayout
@inherits RecoCms6.Pages.AddServiceProviderComponent

@using Radzen
@using Radzen.Blazor
@using RecoCms6.Models.RecoDb
@using Microsoft.AspNetCore.Identity;
@using RecoCms6.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@serviceprovider" TItem="RecoCms6.Models.RecoDb.ServiceProvider" Visible="@(serviceprovider != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Name" style="width: 100%" Text="Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="100" style="display: block; width: 100%" @bind-Value="@(serviceprovider.Name)" Name="Name">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Name" style="position: absolute" Text="Name is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Address" style="width: 100%" Text="Address">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="500" style="width: 100%" @bind-Value="@(serviceprovider.Address)" Name="Address">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="City" style="width: 100%" Text="City">
                </RadzenLabel>
              </div>
              <div class="col-md-3">
                <RadzenTextBox MaxLength="100" style="width: 100%" @bind-Value="@(serviceprovider.City)" Name="City">
                </RadzenTextBox>
              </div>
              <div class="col-md-3">
                <RadzenLabel Component="ProvinceID" style="width: 100%" Text="Province">
                </RadzenLabel>
              </div>
              <div class="col-md-3">
                <RadzenDropDown AllowFiltering="true" Data="@getProvinceList" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Placeholder="Choose Province" style="width: 100%" TextProperty="ParamDesc" @bind-Value="@(serviceprovider.ProvinceID)" ValueProperty="ParameterID" Name="ProvinceID">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="PostalCode" style="width: 100%" Text="Postal Code">
                </RadzenLabel>
              </div>
              <div class="col-md-3">
                <RadzenTextBox MaxLength="7" style="width: 100%" @bind-Value="@(serviceprovider.PostalCode)" Name="PostalCode">
                </RadzenTextBox>
                <RadzenRegexValidator Component="PostalCode" Pattern="([ABCEGHJKLMNPRSTVXYabceghjklmnprstvxy][0-9][ABCEGHJKLMNPRSTVWXYZabceghjklmnprstvxy])\ ?([0-9][ABCEGHJKLMNPRSTVWXYZabceghjklmnprstvxy][0-9])" style="display: block; position: absolute; width: 100%" Text="Not a valid postal code">
                </RadzenRegexValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="EmailAddress" style="width: 100%" Text="Email Address">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="450" style="width: 100%" @bind-Value="@(serviceprovider.EmailAddress)" Name="EmailAddress">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="BusinessPhoneNum" style="width: 100%" Text="Business Phone Num">
                </RadzenLabel>
              </div>
              <div class="col-md-3">
                <RadzenMask Mask="(***) ***-****" Pattern="[^0-9]" Placeholder="(000) 000-0000" style="width: 100%" @bind-Value="@(serviceprovider.BusinessPhoneNum)" Name="BusinessPhoneNum">
                </RadzenMask>
              </div>
              <div class="col-md-3">
                <RadzenLabel Component="CellPhoneNum" style="width: 100%" Text="Cell Phone Num">
                </RadzenLabel>
              </div>
              <div class="col-md-3">
                <RadzenMask Mask="(***) ***-****" Pattern="[^0-9]" Placeholder="(000) 000-0000" style="width: 100%" @bind-Value="@(serviceprovider.CellPhoneNum)" Name="CellPhoneNum">
                </RadzenMask>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="FirmID" style="width: 100%" Text="Firm">
                </RadzenLabel>
              </div>
              <div class="col-md-6">
                <RadzenDropDown AllowFiltering="true" Data="@getFirmsResult" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Placeholder="Choose Firm" style="display: block; width: 100%" TextProperty="Name" @bind-Value="@(serviceprovider.FirmID)" ValueProperty="FirmID" Name="FirmID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="FirmID" DefaultValue="0" style="position: absolute" Text="Firm is required">
                </RadzenRequiredValidator>
              </div>
              <div class="col-md-3">
                <RadzenButton Icon="add_circle_outline" Text="New" Click="@ButtonNewFirmClick">
                </RadzenButton>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ServiceProviderRoleID" style="width: 100%" Text="Service Provider Role">
                </RadzenLabel>
              </div>
              <div class="col-md-4">
                <RadzenDropDown AllowFiltering="true" Data="@getServiceProviderRoleList" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Placeholder="Choose Role" style="width: 100%" TextProperty="ParamDesc" @bind-Value="@(serviceprovider.ServiceProviderRoleID)" ValueProperty="ParameterID" Name="ServiceProviderRoleID">
                </RadzenDropDown>
              </div>
              <div class="col-md-1">
                <RadzenLabel Text="Active">
                </RadzenLabel>
              </div>
              <div class="col-md-1">
                <RadzenCheckBox @bind-Value="@(serviceprovider.Active)" Name="Checkbox0">
                </RadzenCheckBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button3Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
