@page "/administrators"
@layout MainLayout
@inherits RecoCms6.Pages.AdministratorsComponent

@using Radzen
@using Radzen.Blazor
@using RecoCms6.Models.RecoDb
@using Microsoft.AspNetCore.Identity;
@using RecoCms6.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Administrators">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getAdministratorsResult" TItem="RecoCms6.Models.RecoDb.Administrator" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="RecoCms6.Models.RecoDb.Administrator" Property="Name" Title="Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RecoCms6.Models.RecoDb.Administrator" Property="Address" Title="Address">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RecoCms6.Models.RecoDb.Administrator" FilterProperty="Parameter.ParamAbbrev" Property="ProvinceID" SortProperty="Parameter.ParamAbbrev" Title="Parameter">
              <Template Context="data">
              @(data.Parameter?.ParamAbbrev)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RecoCms6.Models.RecoDb.Administrator" Property="City" Title="City">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RecoCms6.Models.RecoDb.Administrator" Property="PostalCode" Title="Postal Code">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RecoCms6.Models.RecoDb.Administrator" Property="EmailAddress" Title="Email Address">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RecoCms6.Models.RecoDb.Administrator" Property="BusinessPhoneNum" Title="Business Phone Num">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RecoCms6.Models.RecoDb.Administrator" Property="CellPhoneNum" Title="Cell Phone Num">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RecoCms6.Models.RecoDb.Administrator" Property="FaxNum" Title="Fax Num">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RecoCms6.Models.RecoDb.Administrator" FilterProperty="Parameter1.ParamDesc" Property="PreferredCommunicationMethodID" SortProperty="Parameter1.ParamDesc" Title="Preferred Communication Method">
              <Template Context="data">
              @(data.Parameter1?.ParamDesc)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RecoCms6.Models.RecoDb.Administrator" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="recoCms6ModelsRecoDbAdministrator">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, recoCms6ModelsRecoDbAdministrator))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
