@page "/edit-file/{ID}"
@layout MainLayout
@inherits RecoCms6.Pages.EditFileComponent

@using Radzen
@using Radzen.Blazor
@using RecoCms6.Models.RecoDb
@using Microsoft.AspNetCore.Identity;
@using RecoCms6.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <RadzenTemplateForm Data="@file" TItem="RecoCms6.Models.RecoDb.FileDetail" Visible="@(file != null)" Submit="@Form0Submit">
      <ChildContent>
        <div style="margin-bottom: ; padding-bottom: 1em" class="row">
          <div class="col-md-2">
            <RadzenLabel Component="Subject" style="width: 100%" Text="Subject">
            </RadzenLabel>
          </div>
          <div class="col-md-10">
            <RadzenTextBox AutoComplete="false" MaxLength="255" style="display: block; width: 100%" @bind-Value="@(file.Subject)" Name="Subject">
            </RadzenTextBox>
            <RadzenRequiredValidator Component="Subject" Popup="false" style="padding-bottom: .25em; position: absolute" Text="Subject is required">
            </RadzenRequiredValidator>
          </div>
        </div>
        <div style="margin-bottom: ; padding-bottom: 1em" class="row">
          <div class="col-md-2">
            <RadzenLabel Component="Subject" style="width: 100%" Text="Filename">
            </RadzenLabel>
          </div>
          <div class="col-md-10">
            <RadzenTextBox AutoComplete="false" MaxLength="255" ReadOnly="false" style="display: block; width: 100%" @bind-Value="@(file.Filename)" Name="Filename">
            </RadzenTextBox>
            <RadzenRequiredValidator Component="Filename" Popup="false" style="padding-bottom: .25em; position: absolute" Text="Filename is required">
            </RadzenRequiredValidator>
          </div>
        </div>
        <div style="margin-bottom: 0.5em" class="row">
          <div class="col-md-2">
            <RadzenLabel Component="FileTypeID" style="width: 100%" Text="File Type">
            </RadzenLabel>
          </div>
          <div class="col-md-6">
            <RadzenDropDown Data="@getFileTypeList" Placeholder="Choose File Type" style="width: 100%" TextProperty="ParamDesc" @bind-Value="@(file.FileTypeID)" ValueProperty="ParameterID" Name="FileTypeID">
            </RadzenDropDown>
            <RadzenRequiredValidator Component="FileTypeID" Popup="false" style="position: static" Text="File Type is required">
            </RadzenRequiredValidator>
          </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
          <div class="col-md-2">
            <RadzenLabel Component="Sticky" style="width: 100%" Text="Keep At Top">
            </RadzenLabel>
          </div>
          <div class="col-md-1">
            <RadzenCheckBox @bind-Value="@(file.Sticky)" Name="Sticky">
            </RadzenCheckBox>
          </div>
          <div class="col-md-2">
            <RadzenLabel Component="LargeLoss" style="width: 100%" Text="Large Loss" Visible="@(Security.IsInRole("Program Manager") || Security.IsInRole("Adjuster"))">
            </RadzenLabel>
          </div>
          <div class="col-md-1">
            <RadzenCheckBox @bind-Value="@(file.LargeLoss)" Visible="@(Security.IsInRole("Program Manager") || Security.IsInRole("Adjuster"))" Name="LargeLoss">
            </RadzenCheckBox>
          </div>
          <div class="col-md-2">
            <RadzenLabel Text="Privileged & Confidential" Visible="@(Security.IsInRole("Program Manager") || Security.IsInRole("Adjuster"))">
            </RadzenLabel>
          </div>
          <div class="col-md-1">
            <RadzenCheckBox @bind-Value="@(file.Confidential)" Visible="@(Security.IsInRole("Program Manager") || Security.IsInRole("Adjuster"))" Name="Checkbox0">
            </RadzenCheckBox>
          </div>
          <div class="col-md-2">
            <RadzenLabel Text="Visible To Counsel" Visible="@(Security.IsInRole("Program Manager") || Security.IsInRole("Adjuster"))">
            </RadzenLabel>
          </div>
          <div class="col-md-1">
            <RadzenCheckBox @bind-Value="@(file.VisibleToCounsel)" Visible="@(Security.IsInRole("Program Manager") || Security.IsInRole("Adjuster"))" Name="Checkbox1">
            </RadzenCheckBox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <RadzenLabel Text="Description" Visible="@(file.FileTypeID != getClaimReportID)">
            </RadzenLabel>
          </div>
          <div class="col-md-10">
            <RadzenTextArea style="width: 100%" @bind-Value="@(file.FileDescription)" Visible="@(file.FileTypeID != getClaimReportID)" Name="Textarea0">
            </RadzenTextArea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <RadzenLabel Text="Summary" Visible="@(file.FileTypeID == getClaimReportID)">
            </RadzenLabel>
          </div>
          <div class="col-md-10">
            <RadzenHtmlEditor style="height: 400px" UploadUrl="upload/image" @bind-Value="@(file.Comments)" Visible="@(file.FileTypeID == getClaimReportID)" Name="HtmlEditor0">
            </RadzenHtmlEditor>
          </div>
        </div>
        <div style="margin-top: 20px" class="row">
          <div class="col offset-sm-3">
            <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
            </RadzenButton>
            <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button1Click">
            </RadzenButton>
          </div>
        </div>
      </ChildContent>
    </RadzenTemplateForm>
  </ChildContent>
</RadzenContent>
