@page "/edit-application-user/{Id}"
@layout MainLayout

@inherits RecoCms6.Pages.EditApplicationUserComponent
@using RecoCms6.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="ApplicationUser" Data="@user" Visible="@(user != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Email" style="width: 100%" Text="Email">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(user.Email)" Name="Email">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="RoleNames" style="width: 100%" Text="Roles">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@roles" Multiple="true" style="width: 100%" TextProperty="Name" @bind-Value="@(user.RoleNames)" ValueProperty="Name" Name="RoleNames">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Password" style="width: 100%" Text="Password">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenPassword style="width: 100%" @bind-Value="@(user.Password)" Name="Password">
                </RadzenPassword>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ConfirmPassword" style="width: 100%" Text="Confirm password">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenPassword style="width: 100%" @bind-Value="@(user.ConfirmPassword)" Name="ConfirmPassword">
                </RadzenPassword>
              </div>
            </div>
            <RadzenFieldset Text="Additional Details" Visible="@(serviceprovider != null)">
              <ChildContent>
                <div style="margin-bottom: 1rem" class="row">
                  <div class="col-md-2">
                    <RadzenLabel Component="Name" style="width: 100%" Text="Name">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-9">
                    <RadzenTextBox AutoComplete="false" MaxLength="100" style="display: block; width: 100%" @bind-Value="@(serviceprovider.Name)" Name="Name">
                    </RadzenTextBox>
                    <RadzenRequiredValidator Component="Name" style="position: absolute" Text="Name is required">
                    </RadzenRequiredValidator>
                  </div>
                </div>
                <div style="margin-bottom: .25em" class="row">
                  <div class="col-md-2">
                    <RadzenLabel Component="Address" style="width: 100%" Text="Address">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-9">
                    <RadzenTextBox MaxLength="500" style="width: 100%" @bind-Value="@(serviceprovider.Address)" Name="Address">
                    </RadzenTextBox>
                  </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                  <div class="col-md-2">
                    <RadzenLabel Component="City" style="width: 100%" Text="City">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-3">
                    <RadzenTextBox MaxLength="100" style="width: 100%" @bind-Value="@(serviceprovider.City)" Name="City">
                    </RadzenTextBox>
                  </div>
                  <div class="col-md-2">
                    <RadzenLabel Component="ProvinceID" style="width: 100%" Text="Province">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-4">
                    <RadzenDropDown Data="@getProvinceList" Placeholder="Choose Province" style="width: 100%" TextProperty="ParamDesc" @bind-Value="@(serviceprovider.ProvinceID)" ValueProperty="ParameterID" Name="ProvinceID">
                    </RadzenDropDown>
                  </div>
                </div>
                <div style="margin-bottom: .25em" class="row">
                  <div class="col-md-2">
                    <RadzenLabel Component="PostalCode" style="width: 100%" Text="Postal Code">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-6">
                    <RadzenTextBox MaxLength="7" style="width: 100%" @bind-Value="@(serviceprovider.PostalCode)" Name="PostalCode">
                    </RadzenTextBox>
                  </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                  <div class="col-md-2">
                    <RadzenLabel Component="BusinessPhoneNum" style="width: 100%" Text="Business Phone Num">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-3">
                    <RadzenMask Mask="(***) ***-****" Pattern="[^0-9]" Placeholder="(000) 000-0000" style="width: 100%" @bind-Value="@(serviceprovider.BusinessPhoneNum)" Name="BusinessPhoneNum">
                    </RadzenMask>
                  </div>
                  <div class="col-md-2">
                    <RadzenLabel Component="CellPhoneNum" style="width: 100%" Text="Cell Phone #">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-3">
                    <RadzenMask Mask="(***) ***-****" Pattern="[^0-9]" Placeholder="(000) 000-0000" style="width: 100%" @bind-Value="@(serviceprovider.CellPhoneNum)" Name="CellPhoneNum">
                    </RadzenMask>
                  </div>
                </div>
                <div style="margin-bottom: .25em" class="row">
                  <div class="col-md-2">
                    <RadzenLabel Component="PreferredCommunicationMethodID" style="width: 100%" Text="Preferred Method of Communication">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-9">
                    <RadzenDropDown Data="@getCommunicationMethodList" Placeholder="Choose Preferred Method of Communication" style="width: 100%" TextProperty="ParamDesc" @bind-Value="@(serviceprovider.PreferredCommunicationMethodID)" ValueProperty="ParameterID" Name="PreferredCommunicationMethodID">
                    </RadzenDropDown>
                  </div>
                </div>
                <div style="margin-bottom: .25em" class="row">
                  <div class="col-md-2">
                    <RadzenLabel Component="FirmID" style="width: 100%" Text="Firm" Visible="@(Security.IsInRole("Program Manager") || Security.IsInRole("System Admin"))">
                    </RadzenLabel>
                  </div>
                  <div class="col-md-6">
                    <RadzenDropDown Data="@getFirmsResult" Placeholder="Choose Firm" style="display: block; width: 100%" TextProperty="Name" @bind-Value="@(serviceprovider.FirmID)" ValueProperty="FirmID" Visible="@(Security.IsInRole("Program Manager") || Security.IsInRole("System Admin"))" Name="FirmID">
                    </RadzenDropDown>
                    <RadzenRequiredValidator Component="FirmID" DefaultValue="0" style="position: absolute" Text="Firm is required" Visible="@(Security.IsInRole("Program Manager") || Security.IsInRole("System Admin"))">
                    </RadzenRequiredValidator>
                  </div>
                  <div class="col-md-3">
                    <RadzenButton Icon="add_circle_outline" Text="New" Visible="@(Security.IsInRole("Program Manager") || Security.IsInRole("System Admin"))" Click="@ButtonNewFirmClick">
                    </RadzenButton>
                  </div>
                </div>
                <RadzenFieldset Text="Flags" Visible="@(Security.User.Id != user.Id)">
                  <ChildContent>
                    <div class="row">
                      <div class="col-md-1">
                        <RadzenLabel Text="Prime User" Visible="@(Security.User.Id != user.Id)">
                        </RadzenLabel>
                      </div>
                      <div class="col-md-1">
                        <RadzenCheckBox @bind-Value="@(serviceprovider.PrimeUser)" Visible="@(Security.User.Id != user.Id)" Name="Checkbox2">
                        </RadzenCheckBox>
                      </div>
                      <div class="col-md-1">
                        <RadzenLabel Text="File Handler">
                        </RadzenLabel>
                      </div>
                      <div class="col-md-1">
                        <RadzenCheckBox @bind-Value="@(serviceprovider.FileHandler)" Name="FileHandler">
                        </RadzenCheckBox>
                      </div>
                      <div class="col-md-2">
                        <RadzenLabel Text="Submit Payments" Visible="@(Security.User.Id != user.Id)">
                        </RadzenLabel>
                      </div>
                      <div class="col-md-1">
                        <RadzenCheckBox @bind-Value="@(serviceprovider.SubmitPayments)" Visible="@(Security.User.Id != user.Id)" Name="Checkbox3">
                        </RadzenCheckBox>
                      </div>
                    </div>
                  </ChildContent>
                </RadzenFieldset>
              </ChildContent>
            </RadzenFieldset>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
              <div class="col" style="horiz-align: right">
                <RadzenButton Visible="@IsRestTwoFaVisible" ButtonStyle="ButtonStyle.Secondary" Text="Reset Two Factor Auth" Click="@ReEnableTwoFactorAuth">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
