@page "/set-password"
@using System.Web
@layout LoginLayout

<RadzenContent Container="main">
<ChildContent>
<div class="row">
    <div class="col-md-12">
        <RadzenTemplateForm Action="@($"/Account/ConfirmEmail?userId={userId}&code={HttpUtility.UrlEncode(code)}")"
                            Data="@("SetPassword")" Method="POST">
            <ChildContent>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <RadzenLabel Component="CurrentPassword" style="width: 100%" Text="Current Password">
                        </RadzenLabel>
                    </div>
                <div class="col-md-9">
                    <RadzenPassword style="display: block; width: 100%" @bind-Value="@(CurrentPassword)" Name="CurrentPassword">
                    </RadzenPassword>
                    <RadzenRequiredValidator Component="CurrentPassword" style="position: absolute" Text="Current Password is required">
                    </RadzenRequiredValidator>
                    <RadzenRegexValidator Component="CurrentPassword" Pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,20}$" Text="Password Must Have 1 Capital, 1 Numeric, 1 Lower Case Letter, 1 Special Character, Max 20 Characters">
                    </RadzenRegexValidator>
                </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <RadzenLabel Component="NewPassword" style="width: 100%" Text="New Password">
                        </RadzenLabel>
                    </div>
                    <div class="col-md-9">
                        <RadzenPassword style="display: block; width: 100%" @bind-Value="@(newPassword)" Name="NewPassword">
                        </RadzenPassword>
                        <RadzenRequiredValidator Component="NewPassword" style="position: absolute" Text="New Password is required">
                        </RadzenRequiredValidator>
                        <RadzenRegexValidator Component="NewPassword" Pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,20}$" Text="Password Must Have 1 Capital, 1 Numeric, 1 Lower Case Letter, 1 Special Character, Max 20 Characters">
                        </RadzenRegexValidator>
                    </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <RadzenLabel Component="ConfirmPassword" style="width: 100%" Text="Confirm password">
                        </RadzenLabel>
                    </div>
                    <div class="col-md-9">
                        <RadzenPassword style="display: block; width: 100%" @bind-Value="@(ConfirmPassword)" Name="ConfirmPassword">
                        </RadzenPassword>
                        <RadzenRequiredValidator Component="ConfirmPassword" style="position: absolute" Text="Confirm Password is required">
                        </RadzenRequiredValidator>
                        <RadzenCompareValidator Component="ConfirmPassword" Text="Confirm Password does not match Password" Value="@(newPassword)">
                        </RadzenCompareValidator>
                    </div>
                </div>
                <div class="row">
                    <div class="col offset-sm-3">
                        <RadzenButton ButtonType="ButtonType.Submit" Icon="done" Text="Submit"/>
                    </div>
                </div>
            </ChildContent>
        </RadzenTemplateForm>
    </div>
</div>
</ChildContent>
</RadzenContent>